html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Arial sans-serif;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background-color: #292D32;
    padding-top: 5px;
    padding-bottom: 5px;
}

header div {
    display: flex;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 40px;
}

p {
    text-align: center;
    font-size: 25px;
    padding-top: 225px;
    line-height: 50px;
}

span {
    color: red;
}

img {
    margin-left: 475px;
    margin-top: 50px;
    margin-bottom: 273px;
}

footer  {
    background-color: #292D32;
    padding-top: 20px;
}